body, html {
    font-family: my font;
    color: rgb(159, 233, 49);
    height: 100%;
    width: 100%;
    
}

button {
    background-color: rgb(159, 233, 49);
    outline: none;
    border: 0;
    border-radius: 2px;
    font-family: my font;
}

@font-face {
    font-family: "my font";
    src: url("/home/kyopa/repos/todo/src/BurbankBigCondensed-Black.otf");
}

#root {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 5rem;
    justify-content: center;
}

input {
    display: block;
}

.task-details {
    margin: 10px;
    font-size: 1rem;
    border: 0;
    outline: none;
}

.desc, .due-date, .title {
    display: flex;
    align-items: center;
    padding: 0;
    height: fit-content;
    
}

h4, h3 {
    margin: 0;
}

.buttons {
    display: flex;
}

.buttons .display {
    height: 40px
}

.task-form {
    border: 1px solid black;
    padding: 40px;
    background-color: white;
    
    width: fit-content;
    position: relative;
    top: 60px;
}

.task-form button {
    margin-top: 20px;
}

.new {
    display: flex;
    gap: 50px;
}

.new button {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
}


